PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:4200

# MongoDB
MONGODB_URI=mongodb://127.0.0.1:27017/nextfit_ai

# Firebase Admin SDK
FIREBASE_PROJECT_ID=nextfit-ai-fashion
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@nextfit-ai-fashion.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC3...\n-----END PRIVATE KEY-----"
FIREBASE_STORAGE_BUCKET=nextfit-ai-fashion.appspot.com

# AI API Keys
AI_API_KEY=
AI_MODEL=gemini-1.5-flash

# Weather Integration
WEATHER_API_KEY=

# Multi-Store Affiliate Feeds
AMAZON_API_KEY=
FLIPKART_API_KEY=
MYNTRA_API_KEY=
AJIO_API_KEY=
