# Dependencies
node_modules/
dist/
out-tsc/
.angular/

# Environment files
.env
*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# Credentials & Keys
firebase-key.json
*.pem

# OS
.DS_Store
Thumbs.db
